<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="include :: header">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-content">
                        <div class="btn-group hidden-xs" id="sysDictToolbar" role="group">
                            <button type="button" class="btn btn-primary" onclick="add()">
                                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                新增
                            </button>
                            <button type="button" class="btn btn-info" onclick="opEdit()">
                                <i class="glyphicon glyphicon-education" aria-hidden="true"></i>
                                编辑
                            </button>
                            <button type="button" class="btn btn-danger" onclick="opDelete()">
                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                删除
                            </button>
                        </div>

                        <table id="sysDictTable" data-mobile-responsive="false"
                               data-height="" data-toolbar="#sysDictToolbar"
                               data-show-refresh="true" data-show-columns="true"
                               data-show-toggle="true">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                    </div>
                </div>
        </div>
    </div>

    <!--添加/编辑模态框-->
    <div class="modal inmodal fade" id="editSysDictModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h5 class="modal-title">新增/编辑字典</h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal m-t" id="editSysDictForm" name="editSysDictForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">类型：</label>
                            <div class="col-sm-8">
                                <input id="type4Add" name="type" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标签名称：</label>
                            <div class="col-sm-8">
                                <input id="name4Add" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标签编码：</label>
                            <div class="col-sm-8">
                                <input id="code4Add" name="code" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标签值：</label>
                            <div class="col-sm-8">
                                <input id="value4Add" name="value" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序：</label>
                            <div class="col-sm-8">
                                <input id="orderNum4Add" name="orderNum" class="form-control" type="number" value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注信息：</label>
                            <div class="col-sm-8">
                                <textarea id="remark4Add" name="remark" class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="commit()">保存</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

<div th:include="include :: footer"></div>
<script>

    var sysDictId4Update = 0

    $(function () {
        validateInputRule()
    })

    $("#sysDictTable").bootstrapTable({
        url: "/sys-dict/page",
        method: 'post',
        dataType: 'json',
        contentType: "application/x-www-form-urlencoded;charset=UTF-8",
        pagination: true,
        sidePagination: 'server',
        striped: true,
        iconSize : 'outline',
        pageNumber: 1,
        pageSize: 10,
        pageList: [10, 20, 50],
        smartDisplay: false,
        clickToSelect: true,
        queryParams: function (params) {
            var data = {
                offset: params.offset,
                limit: params.limit
            }
            return data
        },
        columns: [
            {
                checkbox : true
            },
            {
                field: 'id',
                title: '编号',
                align: 'left',
                valign: 'middle'
            },
            {
                field: 'type',
                title: '类型',
                align: 'left',
                valign: 'middle'
            },
            {
                field: 'name',
                title: '标签名称',
                align: 'left',
                valign: 'middle'
            },
            {
                field: 'code',
                title: '标签编码',
                align: 'left',
                valign: 'middle'
            },
            {
                field: 'value',
                title: '标签值',
                align: 'left',
                valign: 'middle'
            },
            {
                field: 'orderNum',
                title: '排序',
                align: 'left',
                valign: 'middle'
            },
            {
                field: 'createTime',
                title: '创建时间',
                align: 'left',
                valign: 'middle'
            },
            {
                title: '操作',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    var e = '<a href="#" class="btn btn-sm btn-primary" onclick="edit(this)" data-id="'+row.id+'"><i class="fa fa-edit"></i>编辑</a>&nbsp;&nbsp;'
                    var d = '<a href="#" class="btn btn-sm btn-warning" onclick="del(this)" data-id="'+row.id+'"><i class="fa fa-remove"></i>删除</a>'
                    return e+d
                }
            }
        ]
    });

    function opEdit() {
        var selections = $("#sysDictTable").bootstrapTable('getSelections')
        if(selections.length == 0){
            swal({title:'未选中行',type:'error'})
        }else if(selections.length > 1){
            swal({title:'只能选中一行',type:'error'})
        }else{
            var id = selections[0].id
            $.get('/sys-dict/get/'+id,function (resp) {
                if(resp.resultCode == "0"){
                    var data = resp.data
                    $("#type4Add").val(data.type)
                    $("#name4Add").val(data.name)
                    $("#code4Add").val(data.code)
                    $("#value4Add").val(data.value)
                    $("#orderNum4Add").val(data.orderNum)
                    $("#remark4Add").val(data.remark)
                    sysDictId4Update = data.id

                    $("#editSysDictModal").modal('show')
                }else{
                    swal({title:'网络超时',type:'error'})
                }
            })
        }
    }

    function opDelete() {
        var selections = $("#sysDictTable").bootstrapTable('getSelections')
        if(selections.length == 0){
            swal({title:'未选中行',type:'error'})
        }else{
            var idList = []
            for (var i = 0; i < selections.length; i++) {
                idList.push(selections[i].id)
            }
            $.ajax({
                type : "POST",
                url : "/sys-dict/deleteBatch",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({idList: idList}),
                error : function(request) {
                    swal({title:'网络超时',type:'error'})
                },
                success : function(data) {
                    if (data.resultCode == 0) {
                        swal({title:'操作成功',type:'success'})
                        $("#sysDictTable").bootstrapTable('refresh')
                    } else {
                        swal({title:data.resultMsg,type:'success'})
                    }
                }
            });
        }
    }

    function add() {
        sysDictId4Update = 0
        clearInput()
        $("#editSysDictModal").modal('show')
    }
    
    function edit(data) {
        var id = $(data).data('id')
        $.get('/sys-dict/get/'+id,function (resp) {
            if(resp.resultCode == "0"){
                var data = resp.data
                $("#type4Add").val(data.type)
                $("#name4Add").val(data.name)
                $("#code4Add").val(data.code)
                $("#value4Add").val(data.value)
                $("#orderNum4Add").val(data.orderNum)
                $("#remark4Add").val(data.remark)
                sysDictId4Update = data.id

                $("#editSysDictModal").modal('show')
            }else{
                swal({title:'网络超时',type:'error'})
            }
        })
    }

    function del(data) {
        var id = $(data).data('id')
        swal({
            title: "您确定要删除这条信息吗",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            cancelButtonText: '取消',
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type : "DELETE",
                url : "/sys-dict/delete/"+id,
                error : function(request) {
                    swal({title:'网络超时',type:'error'})
                },
                success : function(data) {
                    if (data.resultCode == 0) {
                        swal({title:'操作成功',type:'success'})
                        $("#sysDictTable").bootstrapTable('refresh')
                    } else {
                        swal({title:data.resultMsg,type:'success'})
                    }
                    $("#editSysDictModal").modal('hide')
                }
            });
        });
    }
    
    function commit() {
        var isValid = $("#editSysDictForm").valid()
        if(isValid){
            saveInput()
        }
    }

    function validateInputRule() {
        var e = "<i class='fa fa-times-circle'></i> ";
        $("#editSysDictForm").validate({
            rules: {
                type: {
                    required: true
                },
                name: "required",
                code: "required",
                value: "required",
                orderNum: {
                    required: true,
                    min: 0
                }
            },
            messages: {
                type: {
                    required: e + "请输入类型"
                },
                name: e + "请输入标签名称",
                code: e + "请输入标签编码",
                value: e + "请输入标签值",
                orderNum4: {
                    required: e + "请输入排序",
                    min: "请输入大于等于0的值"
                }
            }
        });
    }

    function saveInput() {
        var data = $("#editSysDictForm").serializeJSON()
        data.id = sysDictId4Update
        var jsonData = JSON.stringify(data)
        $.ajax({
            type : "POST",
            url : "/sys-dict/save",
            contentType: 'application/json',
            data : jsonData,
            error : function(request) {
                swal({title:'网络超时',type:'error'})
            },
            success : function(data) {
                if (data.resultCode == 0) {
                    swal({title:'操作成功',type:'success'})
                    $("#sysDictTable").bootstrapTable('refresh')
                } else {
                    swal({title:data.resultMsg,type:'success'})
                }
                clearInput()
                $("#editSysDictModal").modal('hide')
            }
        });
    }

    function clearInput() {
        $("#type4Add").val('')
        $("#name4Add").val('')
        $("#code4Add").val('')
        $("#value4Add").val('')
        $("#orderNum4Add").val('0')
        $("#remark4Add").val('')
    }
    
</script>


</html>