/*注册登录页面*/
.background-1{
    background: url("/img/background-1.jpg") no-repeat;
    background-size: 100%;
}
.login-container {
    /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin: 180px auto;
    width: 350px;
    padding: 35px 35px 15px 35px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}
.login-container .title {
    margin: 0px auto 40px auto;
    text-align: center;
    color: #505458;
}
.login-container .remember {
    margin: 0px 0px 35px 0px;
}

/*主页*/
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#app {
    height: 100%;
}
el-container {
    background-color: #b4bccc;
    min-height: 100%;
}
.el-header {
    background-color: #242f42;
    height: 70px
}
.header-logo {
    width: 200px;
    color: white;
    font-size: 20px;
    line-height: 60px;
    display: inline-block
}
.header-collapse {
    width: 50px;
    color: white;
    font-size: 20px;
    line-height: 60px;
    display: inline-block
}
.header-right {
    display: inline-block;
    float: right;
    width: 260px
}
.header-right-content {
    width: 240px;
    color: white;
    font-size: 20px;
    line-height: 70px;
}
.header-right-user {
    width: 150px;
    color: white;
    display: inline-block;
    float: right
}
.header-right-user-img {
    margin-left:20px;
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-top: 15px;
    position: absolute;
    cursor: pointer
}
.header-right-user-text{
    display: inline-block;
    margin-top: 22px;
    margin-left: 70px
}
.header-right-user-dropdown {
    color: white;
    font-size: 16px;
    cursor: pointer
}
.main-content {
    margin-top: 20px;
    min-height: 100%;
    overflow: auto
}
.footer {
    text-align: center;
    color: #8c939d;
    margin-top: 20px
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
}

.sidebar > ul {
    height:100%;
}

